@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Outfit:wght@400;700&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');



:root {
--main-font: 'Outfit', sans-serif;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/*Main Container*/
.main-container {
    width: 60%;
    background-color: white;
    border-radius: 20px;

 
    


  }
}


/*image container*/
.container-image {
    width: 100%;
    
   

    


    

}

/*img itself*/
img {
    display: block;
    width: 90%;
    margin:auto;
    margin-top: 15px;
    border-radius: 10px;
   
    
}

/*h1*/
h1 {
   padding-bottom: 0;
   padding: 20px 20px 0 20px;
   display: inline-block;
   color: hsl(218, 44%, 22%);
   text-align: center;
   margin: 0;
   font-size: 20px;
}

/*our paragraph*/

p {
    
    color:hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    
} 
/*styling attribuiton*/

.attribution{
    position: relative;
    top:20px;
   
}


/* desktop design */

@media only screen and (min-width: 550px) {
    .main-container {
        width: 50%;
        margin: auto;

    }
@media only screen and (min-width: 1000px) {
    .main-container {
        width: 25%;
        margin-top: 50px;

    }
    p {
       font-size: 15px;
        padding:0 20px 0 20px;
    }

    h1 {
        font-size: 23px;
        padding:20px 25px 0 25px;
    }
}
@media only screen and (min-width: 1300px){
    
    .main-container {
        width: 23%;
        
    }

    p {
        padding: 20px 27px 0 27px;
    }

}